.logo{grid-area: logo;}
.abtext{grid-area: text;}
.aboutme_header{grid-area: topic;}
.t-topic {grid-area: ttp;}
.about-s{grid-area: abs;}
.t-image{grid-area: imgs;}


.abme{
    box-shadow: 1px 2px 10px rgb(194, 193, 193);
}

@media (min-width:1440px){
    .Academy{
        display: grid;
        place-content: center;
        width: 100%;
        grid-template-areas:
        'topic topic '
         'text text ' 
         'logo logo ' 
         'ttp ttp ' 
         'imgs abs ';
        row-gap: 5em;
    
        background: 
        radial-gradient(circle at 50% 50%, rgba(161, 155, 248, 0.3) 5%, rgba(255, 255, 255, 0.01) 20%),
        radial-gradient(circle at 25% 60%, rgba(242, 200, 255, 0.5) 10%, rgba(255, 255, 255, 0.1) 30%),
        #ffffff;
    }
    .classes{
        margin-top: 15px;
        box-shadow: 1px 2px 3px rgb(233, 233, 233);
        background-color: aliceblue;
    }
}





@media (max-width:1439px){
    .Academy{
        display: grid;
        place-content: center;
        width: 100%;
        grid-template-areas:
        'topic topic '
         'text text ' 
         'logo logo ' 
         'ttp ttp ' 
         'imgs abs ';
        row-gap: 5em;
    
        background: 
        radial-gradient(circle at 50% 50%, rgba(161, 155, 248, 0.3) 5%, rgba(255, 255, 255, 0.01) 20%),
        radial-gradient(circle at 25% 60%, rgba(242, 200, 255, 0.5) 10%, rgba(255, 255, 255, 0.1) 30%),
        #ffffff;
    }
    .classes{
        margin-top: 15px;
        box-shadow: 1px 2px 3px rgb(233, 233, 233);
        background-color: aliceblue;
    }
}





@media (max-width:1024px){
    .Academy{
        display: grid;
        place-content: center;
        width: 100%;
        grid-template-areas:
        'topic topic '
         'text text ' 
         'logo logo ' 
         'ttp ttp ' 
         'imgs abs ';
        row-gap: 5em;
    
        background: 
        radial-gradient(circle at 50% 50%, rgba(161, 155, 248, 0.3) 5%, rgba(255, 255, 255, 0.01) 20%),
        radial-gradient(circle at 25% 60%, rgba(242, 200, 255, 0.5) 10%, rgba(255, 255, 255, 0.1) 30%),
        #ffffff;
    }
    .classes{
        margin-top: 15px;
        box-shadow: 1px 2px 3px rgb(233, 233, 233);
        background-color: aliceblue;
    }
    .abme{
        width: 400px;
        margin-top: 50px;
    }
    .about-s{
        width: 400px;
        font-size: 20px;
    }
    .classes{
        padding: 20px 15px;
        margin: 5px 4px;
    }

}


@media (max-width:768px){
    .aboutme_header{font-size: 40px;}
    .abtext{width: 600px;}
    .Academy{
        display: grid;
        place-content: center;
        width: 100%;
        grid-template-areas:
        'topic topic '
         'text text ' 
         'logo logo ' 
         'ttp ttp ' 
         'imgs imgs'
         'abs abs ';
        row-gap: 1em;
    
        background: 
        radial-gradient(circle at 50% 50%, rgba(161, 155, 248, 0.3) 5%, rgba(255, 255, 255, 0.01) 20%),
        radial-gradient(circle at 25% 60%, rgba(242, 200, 255, 0.5) 10%, rgba(255, 255, 255, 0.1) 30%),
        #ffffff;
    }
    .classes{
        margin-top: 15px;
        box-shadow: 1px 2px 3px rgb(233, 233, 233);
        background-color: aliceblue;
    }
    .abme{
        width: 500px; 
        margin-top: -10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .about-s{
        width: 100%;
        padding: 0px 50px 50px 50px;
        font-size: 20px;
    }
    .classes{
        padding: 20px 15px;
        margin: 25px 4px;
    }
    
    .t-topic{
        font-size: 48px;
    }

}




@media (max-width:425px){
    .aboutme_header{
        margin-top: 100px;
        font-size: 30px;}
    .abtext{
        width: 90vw;
        padding: 0px 10px;
        text-align: justify;
    }
    .Academy{
        display: grid;
        place-content: center;
        width: 100%;
        grid-template-areas:
        'topic  '
         'text  ' 
         'logo  ' 
         'ttp  ' 
         'imgs '
         'abs  ';
        row-gap: 5em;
    
        background: 
        radial-gradient(circle at 50% 50%, rgba(161, 155, 248, 0.3) 5%, rgba(255, 255, 255, 0.01) 20%),
        radial-gradient(circle at 25% 60%, rgba(242, 200, 255, 0.5) 10%, rgba(255, 255, 255, 0.1) 30%),
        #ffffff;
    }
    .classes{
        margin-top: 15px;
        box-shadow: 1px 2px 3px rgb(233, 233, 233);
        background-color: aliceblue;
    }
    .abme{
        width: 400px; 
        margin-top: -10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .about-s{
        width: 100%;
        padding: 0px 20px 50px 20px;
        font-size: 20px;
    }
    .classes{
        padding: 20px 15px;
        margin: 25px 4px;
    }
    
    .t-topic{
        text-align: center;
        
        font-size: 40px;
    }

}




@media (max-width:375px){
    .aboutme_header{
        margin-top: 100px;
        font-size: 30px;}
    .abtext{
        width: 95vw;
        padding: 0px 10px;
        text-align: justify;
    }
    .Academy{
        display: grid;
        place-content: center;
        width: 100%;
        grid-template-areas:
        'topic  '
         'text  ' 
         'logo  ' 
         'ttp  ' 
         'imgs '
         'abs  ';
        row-gap: 5em;
    
        background: 
        radial-gradient(circle at 50% 50%, rgba(161, 155, 248, 0.3) 5%, rgba(255, 255, 255, 0.01) 20%),
        radial-gradient(circle at 25% 60%, rgba(242, 200, 255, 0.5) 10%, rgba(255, 255, 255, 0.1) 30%),
        #ffffff;
    }
    .classes{
        margin-top: 15px;
        box-shadow: 1px 2px 3px rgb(233, 233, 233);
        background-color: aliceblue;
    }
    .abme{
        width: 350px; 
        margin-top: -10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .about-s{
        width: 100%;
        padding: 0px 20px 10px 20px;
        font-size: 20px;
    }
    .classes{
        padding: 20px 15px;
        margin: 25px 4px;
    }
    
    .t-topic{
        text-align: center;
        
        font-size: 40px;
    }

}