.paths {
  grid-area: path;
}
.logo {
  grid-area: logo;
}
.menu {
  grid-area: menu;
}

.navbar {
  display: grid;
  place-content: center;
  width: 100%;
  grid-template-areas: "logo path menu";
  grid-gap: 15em;
  box-shadow: 0px 0px 7px rgb(223, 223, 223);
}

.logo {
  text-shadow: 1px 2px 3px gray;
}

